---
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
import BrandLink from '~components/BrandLink.astro'
import VercelDeployLink from '~components/VercelDeployLink.astro'
---

<Layout title="Astroberry">
	<Container>
		<h1 class="text-5xl text-brand font-bold">
			Boluo IM
		</h1>
		<p class="text-xl">
			<BrandLink /> is a fast, SEO-friendly, beautiful blog theme for Astro, built with TailwindCSS.
			This theme follows best practices and provides accessibility out of the box.
			Light and dark mode are supported by default.
		</p>
		<VercelDeployLink />
	</Container>
</Layout>
