---
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
---

<Layout title="Astrowberry">
	<Container>
		<h1 class="text-8xl">Astrowberry</h1>
		<p class="text-3xl">A beautiful blog theme for Astro, built with TailwindCSS</p>
	</Container>
</Layout>
