---
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
---

<Layout title="Astroberry">
	<Container>
		<h1 class="text-8xl text-brand dark:text-brand-dark">Astroberry</h1>
		<p class="text-3xl">A beautiful blog theme for Astro, built with TailwindCSS</p>
	</Container>
</Layout>
