---
import Layout from '~layouts/Layout.astro'
import Container from '~components/Container.astro'
import BrandLink from '~components/BrandLink.astro'
import SocialBar from '~components/SocialBar.astro'
import Avatar from '~components/Avatar.astro'
import ButtonLink from '~components/ButtonLink.astro'
import { config } from '~config'
---

<Layout title="Astroberry">
	<Container>
		<Avatar />
		<h1 class="text-3xl md:text-5xl text-brand font-bold">
			 { config.author }
		</h1>
		<p class="text-lg md:text-xl">
			<BrandLink /> is a fast, SEO-friendly, beautiful blog theme for Astro, built with TailwindCSS.
			This theme follows best practices and provides accessibility out of the box.
			Light and dark mode are supported by default.
		</p>
		<SocialBar />
		<ButtonLink href="/posts/">Read Posts</ButtonLink>
	</Container>
</Layout>
