---
import { Icon } from "astro-icon/components";
---

<a href="https://github.com/boluoim/astroberry" target="_blank" class="underline underline-offset-4 decoration-dashed decoration-brand">
    Astroberry
</a>
<Icon name="mdi:external-link" class="inline-block w-4 h-4" />
