---
import Header from "./Header.astro"
import Footer from "./Footer.astro"
---

<div class="
    flex flex-col gap-y-6
    relative w-full min:h-screen p-8 md:p-12 mx-auto md:max-w-3xl md:mx-auto lg:max-w-4xl lg:py-16
    text-content selection:bg-selection
">
    <Header class:list={['mb-16']} />
    
    <main class="flex flex-col justify-center gap-y-6 h-full">
        <slot />
    </main>

    <Footer />
</div>
