---
import Header from "./Header.astro"
---

<div class="
    flex flex-col gap-y-6
    relative w-full h-screen py-12 mx-auto md:max-w-3xl md:mx-auto lg:max-w-4xl lg:py-16
    text-content dark:text-content-dark
">
    <Header />
    
    <main class="flex flex-col justify-center items-center gap-y-6 h-full">
        <slot />
    </main>
</div>
