---
import BrandLink from "~components/BrandLink.astro"
import { config } from "~config"

const props = Astro.props
const Year = new Date().getFullYear()
---

<footer class:list={[props.class]} class="flex flex-col md:flex-row items-center md:justify-between space-y-1 md:space-x-0 text-sm">
    <span>Powered by <BrandLink /></span>
    <span>©{Year} { config.author } all rights reserved</span>
</footer>
