---
import ThemeToggle from "~components/ThemeToggle.astro"
import { config } from "~config"

const props = Astro.props;
---

<header class:list={['relative flex justify-between', props.class]}>
    <div class="text-brand text-2xl font-bold">
        <a href="/" class="block">
            {config.brand}
        </a>
    </div>
    <ThemeToggle />
</header>
