---
import ThemeToggle from "./ThemeToggle.astro";

const props = Astro.props;
---

<header class:list={['relative flex justify-between', props.class]}>
    <div class="text-brand text-2xl font-bold">Astroberry</div>
    <ThemeToggle />
</header>
