---
import { Icon } from "astro-icon/components";
import { config } from "~config";
---

{
    config.social?.length && (
        <div class="flex gap-x-3">
            {
                config.social.map((item) => (
                    <a href={item.url} target="_blank" rel="noopener noreferrer" aria-label={item.name}>
                        <Icon name={item.icon} class="w-7 h-7 md:w-8 md:h-8 cursor-pointer hover:text-brand" />
                    </a>
                ))
            }
        </div>
    )
}
