<a class="inline-flex" href="https://vercel.com/new/clone?repository-url=https%3A%2F%2Fgithub.com%2Fboluoim%2Fastrowberry" target="_blank">
    <span class="p-2 border-[1px] border-r-0 rounded-l">
        <svg width="12" height="12" fill="var(--content-color)" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Vercel</title><path d="M24 22.525H0l12-21.05 12 21.05z"/></svg>
    </span>
    <span class="px-3 py-1 border-[1px] rounded-r text-sm">Deploy</span>
</a>
